<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="/public/javascripts/angularApp.js"></script>
  </head>
  <body>


  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">FlapSnap</a>
    </div>

    
      <ul class="nav navbar-nav navbar-right ">
        <li>

        <a href="/"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload New Image</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	
	

</div>

	<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> FlapSnap Authentication</h1>
        <p > Welcome to World of Image Sharing</p>

        <p>Login or Register with:</p>

        <a href="/login/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

    </div>

</div>

    
  </body>
</html>
