<!doctype html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">FlapSnap</a>
    </div>

    
      <ul class="nav navbar-nav navbar-right ">
       <li>

        <a href="/posts">Timeline</a>
        </li>
        <li>

        <a href="/"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload New Image</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>


<div class="container">

    <div class="page-header text-center">
        <h1><span class=""></span> Photo Share Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- Side bar -->
        <div class="col-sm-3">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                       Hi ! Its another lovely day. 
                    </p>

            </div>
        </div>

        <!-- Side bar -->
        <div class="col-sm-9">
            <div class="well">
                <h3 class="text-primary text-center">Upload your images</h3>

                <form action="/post" method="POST" enctype="multipart/form-data">
                    Select an image to upload:
                    <input type="text" placeholder="Title" name="title"> 
                    <input type="text" placeholder="Link" name="link"> 
                    <input type="submit" value="Upload Image">
                </form>

                <!-- <form action="/pictures/upload" method="POST" enctype="multipart/form-data">
                    Select an image to upload:
                  <input type="file" name="image"> 
                  <input type="submit" value="Upload Image">
                </form> -->
                   

            </div>
        </div>

    </div>

</div>
</body>
</html>
